<div class="w3-container w3-margin-top">
  <pre style="background: #f4f4f4; padding: 15px; overflow-x: auto; white-space: pre-wrap; word-wrap: break-word;"><%= records %></pre>
</div>
<div id="navigation" hx-swap-oob="innerhtml">
  <%- include('navigation.ejs') %>
</div>
<div id="content-header" hx-swap-oob="innerhtml">
  <h1 class="w3-jumbo"><b>OpenID4VCI</b></h1>
  <h1 class="w3-xxxlarge w3-text-green"><b>Credential Info</b></h1>
  <hr style="width:50px;border:5px solid green" class="w3-round">
</div>
