<html>
  <head>
    <title>OpenID4VC Demo</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.1/sse.js"></script>
  </head>
  <body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>ACA-Py<br />OpenID4VC<br />Plugin</b></h3>
      </div>
      <div class="w3-bar-block" id="navigation">
        <%- include('navigation.ejs') %>
      </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-green w3-margin-right" onclick="w3_open()">☰</a>
      <span>OpenID4VC Demo</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    <main style="display: flex; flex-direction: column; height: 100%;">
      <!-- !PAGE CONTENT! -->
      <div class="w3-main" style="margin-left:340px;margin-right:40px; flex-grow: 1; flex-shrink: 0; flex-basis: auto;">

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="content-header">
          <h1 class="w3-jumbo"><b>OpenID4VC Demo</b></h1>
          <hr style="width:50px;border:5px solid green" class="w3-round">
        </div>


        <!-- Designers -->
        <div class="w3-container" id="content" style="margin-top:75px">
          <p>
          Welcome to the demo interface for the ACA-Py OpenID4VC Plugin. This demo
          demonstrates both OpenID4VCI (OpenID for Verifiable Credential Issuance)
          and OpenID4VP (OpenID for Verifiable Presentations).

          Click on the nav menu to issue or present a credential.
          </p>
        </div>


        <!-- End page content -->
      </div>

      <footer style="flex-shrink: 0;">
        <!-- W3.CSS Container -->
        <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

        <script>
          // Script to open and close sidebar
          function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
          }

          function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
          }
        </script>
      </footer>
    </main>
  </body>
</html>
