<div>
  <div hx-ext="sse" sse-connect="/stream/present/<%= presentationId %>" class="w3-row">
      <div class="w3-container w3-center">
        <div sse-swap="status" id="presentation"></div>
        <label
            class="w3-text-gray"
            style="margin-bottom: 1em;"
            for="credential-type"
            >
          Type of Credential to Request
        </label>
        <br />
        <select
            name="credential-type"
            hx-get="/present/select/<%= presentationId %>"
            hx-target="#pres-create"
            hx-swap="innerhtml"
            style="margin-bottom: 1em;"
            >
          <option value="" disabled selected>Credential Type</option>
          <option value="jwt">JWT VC</option>
          <option value="sdjwt">SD-JWT VC</option>
        </select>
        <div id="pres-create">
        </div>
    </div>
    <div style="display:flex; flex-direction: column;" class="w3-col m12 l12">
      <pre style="flex-grow: 1; text-wrap: pretty; padding-bottom: 15px; overflow-wrap: anywhere;">
      <div sse-swap="message" hx-swap="beforeend"></div>
      <div sse-swap="debug" hx-swap="beforeend"></div>
      </pre>
    </div>
  </div>
</div>
<div id="navigation" hx-swap-oob="innerhtml">
  <%- include('navigation.ejs') %>
</div>
<div id="content-header" hx-swap-oob="innerhtml">
  <h1 class="w3-jumbo"><b>OpenID4VP</b></h1>
  <h1 class="w3-xxxlarge w3-text-green"><b>Present Credential</b></h1>
  <hr style="width:50px;border:5px solid green" class="w3-round">
</div>
