<label
  class="w3-text-gray"
  for="family_name"
>
  Family Name
</label>
<input
  class="w3-input w3-animate"
  name="family_name"
  placeholder="Family Name"
  value="Doe"
></input>

<label
  class="w3-text-gray"
  for="given_name"
>
  Given Name
</label>
<input
  class="w3-input w3-animate"
  name="given_name"
  placeholder="Given Name"
  value="John"
></input>

<label
  class="w3-text-gray"
  for="birth_date"
>
  Birth Date
</label>
<input
  class="w3-input w3-animate"
  name="birth_date"
  type="date"
  value="1990-01-01"
></input>

<label
  class="w3-text-gray"
  for="issue_date"
>
  Issue Date
</label>
<input
  class="w3-input w3-animate"
  name="issue_date"
  type="date"
  value="2023-01-01"
></input>

<label
  class="w3-text-gray"
  for="expiry_date"
>
  Expiry Date
</label>
<input
  class="w3-input w3-animate"
  name="expiry_date"
  type="date"
  value="2033-01-01"
></input>

<label
  class="w3-text-gray"
  for="issuing_authority"
>
  Issuing Authority
</label>
<input
  class="w3-input w3-animate"
  name="issuing_authority"
  placeholder="Issuing Authority"
  value="DMV California"
></input>

<label
  class="w3-text-gray"
  for="document_number"
>
  Document Number
</label>
<input
  class="w3-input w3-animate"
  name="document_number"
  placeholder="Document Number"
  value="D1234567"
></input>

<button
  class="w3-bar w3-btn w3-green"
  type="submit"
>
  Register
</button>