			<label
					class="w3-text-gray"
					for="fname"
					>
				First Name
			</label>
			<input
					class="w3-input w3-animate"
					name="fname"
					placeholder="First Name"
					value="Sally"
					></input>
			<label
					class="w3-text-gray"
					for="lname"
					>
				Last Name
			</label>
			<input
					class="w3-input w3-animate"
					name="lname"
					placeholder="Last Name"
					value="Sparrow"
					></input>
			<label
					class="w3-text-gray"
					for="email"
					>
				Email
			</label>
			<input
					class="w3-input w3-animate"
					name="email"
					placeholder="Email"
					value="SallySparrow@example.com"
					></input>
			<button
					class="w3-bar w3-btn w3-green"
					type="submit"
					>
				Register
			</button>

