NGROK_AUTHTOKEN=your-ngrok-authtoken
ADMIN_MANAGE_AUTH_TOKEN=adminsecrettoken
ADMIN_INTERNAL_AUTH_TOKEN=admininternaltoken # match TENANT_INTERNAL_AUTH_TOKEN
TENANT_INTERNAL_AUTH_TOKEN=admininternaltoken # match ADMIN_INTERNAL_AUTH_TOKEN
#Optional if you have a static AuthServer URL e.g. https://auth.yourdomain.com
#AUTHSERVER_NGROK_URL= 