NGROK_AUTHTOKEN=your-ngrok-authtoken
AUTHSERVER_NGROK_URL= # your custom ngrok domain for auth server, e.g. https://auth.yourdomain.com
ADMIN_MANAGE_AUTH_TOKEN=adminsecrettoken
ADMIN_INTERNAL_AUTH_TOKEN=admininternaltoken # match TENANT_INTERNAL_AUTH_TOKEN
TENANT_INTERNAL_AUTH_TOKEN=admininternaltoken # match ADMIN_INTERNAL_AUTH_TOKEN
